@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "setting.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300:400,600&display=swap");

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Open Sanso", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  /* 부모로부터 컬러를 받아옴 */
  color: inherit;
  /* 밑줄 삭제 */
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  /* padding을 넣어도 box사이즈 유지 */
  box-sizing: border-box;
}
